dist
documents
notebooks/examples/api/water_level_api.xml
notebooks/examples/writers
__pycache__/
.coverage
.project
.pydevproject
/.mypy_cache/
/.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Eclipse files
.settings
